#Autosave files
*~

.vscode

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/
Translations/*.gmo
*.in


./ocmengine/ocmengine.pc
./ocm-gtk/ocm-gtk
./ocm-gtk/OCM.desktop
./ocm-gtk/OCMApps.cs
./ocm-gtk/Paths.cs

# globs
Makefile.in
Makefile
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
Makefile
config.log
config.status
**/*/Makefile
site/

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

./ocm-gtk/bin
./ocmengine/bin


